@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./var";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

html,
body {
  font-family: "Poppins", sans-serif;
}

.text-theme-primary {
  color: $primary !important;
}

.text-theme-secondary {
  color: $secondary !important;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  @apply transition-all;

  &__primary {
    background-color: $primary;
    color: #fff;

    &.outlined {
      background-color: transparent;
      border: 2px solid $primary;
      color: $primary;

      &:hover {
        background-color: $primary;
        color: #fff;
      }
    }

    &:hover {
      background-color: darken($primary, 10%);
    }
  }

  &__secondary {
    background-color: $secondary;
    color: #fff;

    &.outlined {
      background-color: transparent;
      border: 2px solid $secondary;
      color: $secondary;

      &:hover {
        background-color: $secondary;
        color: #fff;
      }
    }

    &:hover {
      background-color: darken($secondary, 10%);
    }
  }

  &.large {
    height: 45px;
  }
}

.credential {
  &__label {
    display: inline-flex;
    font-weight: 500;
  }

  &__input {
    width: 100%;
    height: 45px;
    padding: 10px;
    border: 2px solid $gray;
    @apply rounded;

    &:focus {
      outline: none;
      border: 2px solid $primary !important;
    }

    &:hover {
      border: 2px solid $primary !important;
    }

    &.invalid {
      @apply border-red-600;

      &:focus {
        outline: none;
        @apply border-red-600;
      }

      &:hover {
        @apply border-red-600;
      }
    }
  }

  &__passwordWithToggler {
    position: relative;

    & > input {
      padding-right: 40px;
    }

    & > .passwordToggleBtn {
      @apply grid;
      @apply place-content-center;
      @apply rounded-full;

      height: 30px;
      width: 30px;
      position: absolute;
      inset: 50% 7px auto auto;
      transform: translateY(-50%);

      &:hover {
        @apply bg-slate-100;

        color: $primary;
      }
    }
  }
}
